{% extends("base.html") %}
{% block main %}

<section class="section">
    <h1 class="title">
        {{'hp.site-title'|translate}}
    </h1>
    <div class="content">
        <p>
            {{'hp.welcome'|translate}}
        </p>
        <div class="message is-info">
            <div class="message-body">
                {{'hp.translationNote'|translate|markdown}}
            </div>
        </div>
    </div>
    <div class="box has-background-white-ter">
        <p>
            {{'hp.kodex.description'|translate}}
        </p>
    </div>
    <br />
    <div class="columns features">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-header">
                    <div class="card-header-title has-text-centered">
                        <strong><a href="{{'kodex.cli.index'|href}}">CLI</a></strong>
                    </div>
                </div>
                <div class="card-content">
                <div class="content">
                    <p>
                        {{'hp.kodex.cli.text'|translate}}
                    </p>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-header">
                    <div class="card-header-title has-text-centered">
                        <strong><a href="{{'kodex.blueprints'|href}}">{{'hp.kodex.blueprints.title'|translate}}</a></strong>
                    </div>
                </div>
                <div class="card-content">
                <div class="content">
                    <p>
                        {{'hp.kodex.blueprints.text'|translate}}
                    </p>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-header">
                    <div class="card-header-title has-text-centered">
                        <strong><a href="{{'kodex.actions.index'|href}}">{{'hp.kodex.actions.title'|translate}}</a></strong>
                    </div>
                </div>
                <div class="card-content">
                <div class="content">
                    <p>
                        {{'hp.kodex.actions.text'|translate}}
                        
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}